<%- include("partials/header"); -%>

<h1>About Us</h1>
<p><%= aboutContent %></p>
<p>When starting a daily journal, here are a few tips:</p>
<ul>
    <li><b>Choose a journal:</b> Find a journal or notebook that you feel comfortable writing in. It can be a physical notebook or a digital journaling app.
    </li>
    <li><b>Set a routine:</b> Establish a regular time and place for journaling. It could be in the morning, before bed, or during a quiet moment of the day.
    </li>
    <li><b>Write freely:</b> Don't worry about grammar, punctuation, or writing perfectly. Focus on expressing yourself honestly and freely.
    </li>
    <li><b>Be consistent:</b> Aim to write in your journal every day, but don't be too hard on yourself if you miss a day or two. Consistency is key, but flexibility is also important.
    </li>
    <li><b>Explore different prompts:</b> If you find yourself struggling with what to write, you can use prompts to get started. Prompts can be questions, quotes, or ideas that inspire you to reflect and write.
    </li>
</ul>

<%- include("partials/footer"); -%>